@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1d1d1d;
    padding: 8px;
    position: relative;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.logo {
    width: 4rem;
}

.abrir-menu {
    background: none;
    color: #fff;
    border: none;
    font-size: 2rem;
    position: static;
    z-index: 10;
}

.cerrar-menu {
    display: none;
    background: none;
    color: #fff;
    border: none;
    font-size: 2.4rem;
}


.navbar {
    position: absolute;
    z-index: 5;
    left: 0;
    background-color: #1d1d1d;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: all 0.5s;
    text-align: center;
}



.navbar.visible {
    width: 100%;
    transform: translateX(0);
}


@media (min-width: 769px) {

    .abrir-menu{
        display: none;
    }


    header{
        position: static;
    }

    .navbar {
        transform: none;
        height: auto;
        flex-direction: row;
        justify-content: right;
       /*  align-items: center; */
        position: static;
        background: none;
    }

    .nav-list {
        flex-direction: row;
        align-items: center;
        color: #fff;
        font-size: .9rem;
        gap: 1;
    }

    .nav-list li a:hover {
        color: red;
    }

}