<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Curriculum</title>
</head>
<body>
    <nav class="nav_bar">
        <ul class="nav_links">
            <li><a href="#" class="navbar_active">Inicio</a></li>
            <li><a href="#experiencia">Experiencia</a></li>
            <li><a href="#proyectos">Proyectos</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>

    <header>
        <div class="profile">
            <div class="picture">
                
            </div>
            <div class="data">
                <div class="data_container1">
                    <h1> <span id="name">Soy</span> Robert Smith</h1>
                    <h3>Desarrollador Web y Emprendedor</h3>
                    <hr>
                </div>
                <div class="data_container2">
                    <div class="info1" >
                        <p>NACIMIENTO:</p>
                        <p>DOMICILIO:</p>
                        <p>E-MAIL:</p>
                        <p>CELULAR:</p>
                        <p>FREELANCER:</p>
                    </div>
                    <div class="info2">
                        <p>11/6/1988</p>
                        <p>5253 Bruce St</p>
                        <p>Robert.Smith@example.com</p>
                        <p>(638) 799-3897</p>
                        <p>Desarrollador web Front-End</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="media">
            <a href="https://web.telegram.org" target="_blank" class="media_links"><i class="fa-brands fa-telegram"></i></a>
            <a href="https://twitter.com" target="_blank"  class="media_links"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.facebook.com" target="_blank" class="media_links"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.linkedin.com" target="_blank" class="media_links"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com" target="_blank" class="media_links"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://mail.google.com/mail" target="_blank" class="media_links"><i class="fa-brands fa-google-plus-g"></i></a>
        </div>
        
        <section class="modulo">
            <div class="texto">
                <input type="button" value="DESCARGAR CV" class="btn">
                <p>
                    Hola, soy Robert Smith, desarrollador web especializado en desarrollo front-end.
                    Experiencia en todas las etapas <br> del ciclo de desarrollo de proyectos web dinámicos.
                    Bien versado en numerosos lenguajes de programación, <br> incluidos JavaScript, SQL y C.
                    tambien cuento con experiencia en gestión de proyectos y relacion con los clientes.
                </p>
            </div>
        </section>
    </header>
    
<section class="article">
        <button id="experiencia" class="accordion">Experiencias labolares</button>
    <div class="panel">
        <p>
            <strong>10/2018 - Presente Analista - Programador, Servicios Técnicos IT, Bilbao</strong> <br>
            -Toma de requerimientos con el cliente <br>
            -Análisis de requerimientos y diseño de aplicaciones <br>
            -Desarrollo de aplicaciones utilizando Javascript, PHP, MySQL <br>
            -Soporte técnico a clientes.
            <br>
            <hr>
            <strong>12/2014 - 10/2018 Programador Full Stack, Finanbest, Madrid</strong> <br>
            -Desarrollo Front End y Back End de aplicaciones con Typescript, Javascript, PHP, MySQL, HTML5 <br>
            -Realización de test de aplicaciones <br>
            -Solución de incidencias
            <br>
            <hr>
            <strong>07/2011 - 12/2014 Programadora web, Sistemas Informáticos SL, Madrid</strong> <br>
            -Desarrollo de aplicaciones web para clientes de la empresa del sector financiero utilizando Javascript, PHP <br>
            -Mantenimiento de aplicaciones web <br>
            -Maquetación HTML5, CSS3, Bootstrap <br>
            -Manejo de datos XML, JSON</p>
    </div>

        <button id="proyectos" class="accordion">Proyectos</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

        <button id="contacto" class="accordion">Contacto</button>
    <div class="panel">
        <p>
            <strong>CELULAR:</strong> (638) 799-3897
            <br>
            <strong>DOMICILIO:</strong> 5253 Bruce St
        </p>
    </div>
</section>
    

<script src="/js/main.js"></script>
<script src="https://kit.fontawesome.com/806fc8dcd9.js" crossorigin="anonymous"></script>
</body>
</html>